.tasks {
  padding-left: 30px;
  width: 75%;
  height: fit-content;
}

.warning {
  text-align: center;
}

.tasks__list {
  padding-top: 10px;
}

.tasks__list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}